.results-hero-h1,
.results-hero-p,
.results-hero-form {
  text-align: left;
}

@media only screen and (min-width: 577px) {
  .main-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 577px) {
  .main-grid {
    display: grid;
    grid-template-columns: 30% 70%;

    .landing {
      .carousl-description {
        flex-direction: column;
      }

      .landing-icon {
        display: block;
      }
    }

    .results {
      justify-content: space-between;
      padding: 0 10px;

      .results-icon {
        display: none;
      }
    }
  }
}
