* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body, footer {
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
}

footer {
  border-top: medium #d35266;
}

.bg-red {
  background-color: #d35266;
}

.bg-black {
  background-color: #383838;
}

.bg-gray {
  background-color: #888888;
}

.bg-white {
  background-color: #fff;
}

.bg-lightgray {
  background-color: #F6F6F6;
}

.f-red {
  color: #d35266;
}

.f-gray {
  color: #888888;
}

.f-black {
  color: #383838;
}

.f-white {
  color: #fff;
}

.flex {
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.flex-r {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

img {
  object-fit: cover;
}

hr {
  border: #888888 thick solid;
}

@media only screen and (max-width: 576px) {
  .hero {
    width: 100%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .hero {
    width: 100%;
  }
}
