// @import "results.scss";
// font imports
@font-face {
  font-family: "gotham-bold";
  src: url("../fonts/gothambold/gothambold1.eot");
  src:
    local("gotham-bold"),
    url("../fonts/gothambold/gothambold1.woff") format("woff");
}

@font-face {
  font-family: "gotham-rounded-light";
  src: url("../fonts/Gotham-Rounded-Light/GothamRoundedLight.eot");
  src:
    local("gotham-rounded-light"),
    url("../fonts/Gotham-Rounded-Light/GothamRoundedLight.woff") format("woff"),
    url("../fonts/Gotham-Rounded-Light/GothamRoundedLight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Helvetica-Neue-Light";
  src: url("../fonts/Helvetica-Neue-Light/HelveticaNeueLight.eot");
  src:
    local("Helvetica Neue Light"),
    url("../fonts/Helvetica-Neue-Light/HelveticaNeueLight.woff") format("woff"),
    url("../fonts/Helvetica-Neue-Light/HelveticaNeueLight.woff2")
    format("woff2");
}

@font-face {
  font-family: "Helvetica-Neue-Medium";
  src: url("../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.eot");
  src:
    local("Helvetica Neue Medium"),
    url("../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.woff")
    format("woff"),
    url("../fonts/Helvetica-Neue-Medium/HelveticaNeueMedium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Helvetica-Neue-Bold";
  src: url("../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.eot");
  src:
    local("Helvetica-Neue-Bold"),
    url("../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.woff") format("woff"),
    url("../fonts/Helvetica-Neue-Bold/HelveticaNeueBold.woff2") format("woff2");
}

$bg-red: #d35266;
$bg-gray: #888;
$bg-dark: #383838;
$bg-white: #fff;
$bg-lightgrey: #f6f6f6;

// css reset

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body,
footer,
main {
  line-height: 1.5;
  width: 100%;
}

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gotham-bold";
  color: $bg-gray;
}

p {
  font-family: "Helvetica-Neue-Medium";
}

a {
  text-decoration: none;
  font-family: "Helvetica-Neue-Light";
}

footer {
  a,
  select,
  p {
    color: $bg-gray;
  }
}

// css reset ends here

//General styles
//background colors
.bg-red {
  background-color: $bg-red;
}

.bg-black {
  background-color: $bg-dark;
}

.bg-gray {
  background-color: $bg-gray;
}

.bg-white {
  background-color: $bg-white;
}

.bg-lightgray {
  background-color: $bg-lightgrey;
}
// Font colors

.f-red {
  color: $bg-red;
}

.f-gray {
  color: $bg-gray;
}

.f-black {
  color: $bg-dark;
}

.f-white {
  color: $bg-white;
}
//alignments
.flex {
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.flex-r {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

img {
  object-fit: cover;
  width: 100%;
}

hr {
  border: $bg-gray thick solid;
}

.hero-p,
.hero-h1 {
  text-align: center;
  text-justify: center;
}
// Break points

@media only screen and (max-width: 576px) {
  .hero {
    width: 100%;
    padding: 20px;

    .hero-form {
      flex-direction: column;
    }

    .hero-wrench {
      transform: scale(0.8);
    }

    .hero-input,
    .button {
      padding: 5px 0;
    }
  }
  //////////Landing
  .landing {
   

    .carousl-description {
      flex-direction: column;
    }

    .landing-icon {
      display: none;
    }
  }

  .landing-results {
   

    .landing-icon,
    .results-icon {
      display: none;
    }
  }

  .carousl-item {
    flex-direction: column;
  }
.landing,.landing-results img, .landing img{
  width: 100%;
}
  .footer {
    margin-top: 10px;
    background-color: $bg-white;

    .footer-top {
      flex-direction: row;
      border-top: bold $bg-red;

      .footer-left p {
        text-align: justify;
      }
    }

    .footer-bottom {
      flex-direction: column;

      .copy-right {
        text-align: center;
      }
    }

    .foot-icons {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  //for the results page
  .main-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer-left {
    min-width: 70%;
    padding: 5px;
  }

  .country {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  header a {
    font-size: 12px;
  }

  .hero {
    padding: 40px 10px;

    form {
      text-align: center;
      margin: auto;

      select,
      .hero-input,
      button {
        margin: 0 1px 0 0;
        padding: 5px 6px;
        border: none;
      }
      
    }
  }

  .landing {
    width: 100%;
    padding: 20px;

    .carousl-item {
      flex-direction: row;
    }

    img {
      width: 100%;
    }

    .carousl-description {
      flex-direction: column;
    }

    .landing-icon {
      display: block;
    }
  }

  .results {
    justify-content: space-between;
    padding: 0 10px;

    .results-icon {
      display: none;
    }
  }

  .landing-results-item {
    width: 47%;
    margin-top: 10px;
    border: thin solid $bg-lightgrey;
  }

  .footer {
    margin-top: 10px;
    background-color: $bg-lightgrey;

    .footer-top {
      .footer-left {
        width: 38%;
        padding: 5px;
      }
    }

    .country {
      margin-top: 55px;
    }
  }

  .main-grid {
    display: grid;
    grid-template-columns: 1fr;

    .main-result {
      border-top: medium gray solid;
      margin-top: 20px;

      .carousl-item {
        padding-top: 20px;
        padding-bottom: 5px;
        border-bottom: gray thin solid;
      }
    }
  }

  .results-hero-h1,
  .results-hero-p,
  .results-hero-form {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  header a {
    font-size: 13px;
  }

  .hero {
    padding: 60px 20px 40px 20px;
    margin: 20px 0;

    form {
      margin: auto;

      select,
      input,
      button {
        margin: 0 1px 0 0;
        padding: 5px 12px;
        border: none;
      }

      h1 {
        font-size: 2em;
      }
    }
  }

  .landing {
    width: 85%;
    margin: auto;
    padding: 20px;

    .carousl-description {
      flex-direction: column;
    }

    .landing-icon {
      display: block;
    }
  }

  .landing-results {
    border-top: $bg-gray solid;
    margin-top: 20px;
    padding-top: 20px;
  }

  .landing-results-item {
    width: 17%;
    margin-bottom: 20px;
    box-shadow: 1px 5px 5px 0 $bg-gray;
    justify-content: center;
  }

  .landing-results-item img {
    width: 100%;
  }

  .landing-results-item:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }

  .results {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 0 10px;

    .results-icon {
      display: block;
    }
  }

  .footer {
    .footer-top {
      border-top: $bg-gray solid medium;
      margin-top: 20px;
      justify-content: space-evenly;

      .footer-left {
        width: 38%;
        padding: 5px;
      }

      .country {
        margin-top: 70px;
      }
    }

    .foot-icons i {
      transform: scale(1.5);
    }
  }

  .main-grid {
    display: grid;
    grid-template-columns: 30% 70%;

    .carousl-item {
      padding-top: 20px;
      padding-bottom: 5px;
      border-left: gray thin solid;
    }
  }

  .results-hero-h1,
  .results-hero-p {
    padding-left: 90px;
  }
}
